body{
    margin: 0px;
    padding: 0px;
    background-color: ghostwhite;
    width: 100%;
    height: 100%;
}
#container{
   margin-left: 150px;
   background-color: ghostwhite;
   margin-top: 30px;
   position: absolute;
   z-index: 0;
}
#top{
    position: fixed;
    width: 100%;
    height: 30px;
    background-color: black;
    z-index: 999;
}
#left{
    position: fixed;
    margin-top: 30px;
    width: 150px;
    height: 100%;
    background-color: gray;
    margin-left: 0px;
    padding: 0px;
    overflow-y: scroll;
    z-index: 10;
}
#right{
   background-color: gainsboro;

}
.sort{
    position: relative;
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    margin:0px auto;
    padding: 0px;
    display: block;
}
.div_line{
    height: 350px;
    margin-left: 10px;
    margin-top: 10px;
    background-color: black;
    display: inline-block;
}