<html>
    <head>
        <title>搜索提示框</title>
        <!--css-->
        <link href="./index.css" rel="stylesheet"/>
        <!--javascript-->
        <script src="./index.js"></script>
    </head>
    <body>
        <div>
            <input id="search" autocomplete="off" style="width: 230px; height: 30px; border-color: blue; z-index: 1" type="text" oninput="tip()"/>
        </div>
        <div id="tip" style="width: 228px; border: 1px solid blue; border-top: 0px; z-index: 30">
        </div>
    </body>
</html>