.opacity_show{
    animation: opacity_show 2s linear;
    -moz-animation: opacity_show 2s linear;
    -webkit-animation: opacity_show 2s linear;
}
.opacity_hide{
    animation: opacity_hide 2s linear;
    -moz-animation: opacity_hide 2s linear;
    -webkit-animation: opacity_hide 2s linear;
}
@-webkit-keyframes opacity_show{
    from{
        opacity: 1
    }
    to{
        opacity: 0
    }
}
@-webkit-keyframes opacity_hide{
    from{
        opacity: 0
    }
    to{
        opacity: 1
    }
}